#terminal {
    position: fixed;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-x: clip;
    font-family: var(--terminal-font);
    font-size: 18px;
    line-height: 1.1;
    font-weight: normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#terminal::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(2, 2, 2, 0); /* Same as terminal background */
}

#terminal::-webkit-scrollbar-thumb {
    background-color: rgba(2, 2, 2, 0); /* Same as terminal background */
    border-radius: 5px;
}

#terminal::-webkit-scrollbar-track {
    display: none;
}

#terminalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(226, 226, 226, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(215, 215, 215, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}